<div style="margin: 20px">
    <h1 class="text-center">Ingreso de nuevo producto</h1>
    <div class="p-8" style="margin: 40px">
        <h4>Ingreso de nuevo producto</h4>
        <form action="/products" method="post">
            {{!-- importante poner los name igual a los campos del schema --}}
            TITULO:      <input type="text"    name="title"       value="ejTit"> *<br>
            DESCRIPCION: <input type="text"    name="description" value="ejDes">  <br>
            CODIGO:      <input type="text"    name="code"        value="ejCod"> *<br>
            PRECIO:      <input type="float"   name="price"       value="123.5"> *<br>
            STOCK:       <input type="integer" name="stock"       value="00003">  <br>
            CATEGORIA:   <input type="text"    name="category"    value="ejCat"> *<br>
            IMAGEN 1:    <input type="text"    name="thumbnails"  value="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCGSO1IKYTlaAttwjGwcsdEotbuG0EBIHMW-y7IR2pNf4jElkZ3IT27-NBfvL9vAczHGk&usqp=CAU"> *<br>
            IMAGEN 2:    <input type="text"    name="thumbnails"  value="ejIm2">  <br>
            IMAGEN 3:    <input type="text"    name="thumbnails"  value="ejIm3">  <br>
                         <input type="submit"                     value="Guardar"></input>
        </form>
    </div>
</div>
