<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css">

<div style="margin: 20px">
    <h1 class="text-center">Ingreso de nuevo producto</h1>
    <div class="p-8 d-flex justify-content-center" style="margin: 40px">
        
        <form action="/products" method="post" class="p-5 w-50">
            {{!-- importante poner los name igual a los campos del schema --}}

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="basic-addon1" style="width: 150px">TITULO *     </span>
                </div>
                <input name="title" type="text" class="form-control minw-25" placeholder="Título" aria-label="title" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="basic-addon1" style="width: 150px">DESCRIPCIÓN</span>
                </div>
                <input name="description" type="text" class="form-control required" placeholder="Descripción" aria-label="description" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="basic-addon1" style="width: 150px">CODIGO *</span>
                </div>
                <input name="code" type="text" class="form-control required" placeholder="Código" aria-label="code" aria-describedby="basic-addon1">
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="basic-addon1" style="width: 150px">PRECIO *</span>
                </div>
                <input name="price" type="float" class="form-control required" placeholder="Precio" aria-label="price" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="basic-addon1" style="width: 150px">STOCK</span>
                </div>
                <input name="stock" type="number" class="form-control required" placeholder="Stock" aria-label="stock" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text " id="basic-addon1" style="width: 150px">CATEGORÍA *</span>
                </div>
                <input name="category" type="text" class="form-control required" placeholder="Categoría" aria-label="category" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text w-500px" id="basic-addon1" style="width: 150px">URL IMAGEN 1 *</span>
                </div>
                <input name="thumbnails" type="text" class="form-control required" placeholder="Imagen 1" aria-label="thumbnails" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text " id="basic-addon1" style="width: 150px">URL IMAGEN 2</span>
                </div>
                <input name="thumbnails" type="text" class="form-control required" placeholder="Imagen 2" aria-label="thumbnails" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text required" id="basic-addon1" style="width: 150px">URL IMAGEN 3</span>
                </div>
                <input name="thumbnails" type="text" class="form-control required" placeholder="Imagen 3" aria-label="thumbnails" aria-describedby="basic-addon1">
            </div>

            <input class="btn btn-primary" type="submit" value="Guardar">
         

        </form>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>